@page
@model ErrorModel
@{
    ViewData["Title"] = SharedLocalizer["An error occurred while processing your request."];
}

<h3 class="text-danger text-center">@ViewData["Title"]</h3>

@if (Model.ShowRequestId)
{
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <p>
                <strong>@SharedLocalizer["Request ID"]:&nbsp;</strong><code>@Model.RequestId</code>
            </p>
        </div>
        <div class="col-12 text-center">
            <a href="/Account/Login">@SharedLocalizer["Go to Login page"]</a>
        </div>
    </div>
}
