@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<div class="row justify-content-center">
    <div class="col-md-4">
        <hr />
        <p class="text-center">
            Please check your email to confirm your account.
        </p>
    </div>
</div>