@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = SharedLocalizer["Register confirmation"];
}

<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <hr />
        <p class="text-center">
            @SharedLocalizer["Please check your email to confirm your account."]
        </p>
    </div>
</div>